<h3>{{accion}} Comentario</h3>
<div class="spinner-border text-primary" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
  </div>
<form [formGroup] = "comentarios" (ngSubmit) = "guardarComentario()">
    <div class="form-group row">
        <label class="control-label col-md-12">Titulo</label>
        <div class="col-md-12">
            <input type="text" class="form-control" formControlName = "titulo">    
        </div>
        <span class = "text-danger ml-3" *ngIf="comentarios.get('titulo').hasError('required') && comentarios.get('titulo').touched">
            El titulo es requerido
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Creador</label>
        <div class="col-md-12">
            <input type="text" class="form-control" formControlName = "creador">    
        </div>
        <span class = "text-danger ml-3" *ngIf="comentarios.get('creador').hasError('required') && comentarios.get('creador').touched">
            El creador es requerido
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Texto</label>
        <div class="col-md-12">
           <textarea rows="8" class="form-control" formControlName = "texto"></textarea>
        </div>
        <span class = "text-danger ml-3" *ngIf="comentarios.get('texto').hasError('required') && comentarios.get('texto').touched">
            El texto es requerido
        </span>
    </div>
    <div class = "form-group">
        <button class = "btn btn-success float-right" [disabled]="comentarios.invalid">Aceptar</button>
        <button [routerLink] = "['/']" class = "btn btn-secondary float-left">Cancelar</button>

    </div>
 </form>
