<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img [src]="urlImage" width="30" height="30" alt="" loading="lazy">
      </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink] = "['/']">Inicio </a>
        </li>        
      </ul>    
    </div>
  </nav>